NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

NEXT_PUBLIC_NEO4J_QUERY_API_URL=

NEXT_PUBLIC_NEO4J_USER=
NEXT_PUBLIC_NEO4J_BOLT_URL=
NEXT_PUBLIC_NEO4J_PASSWORD=
RABBITMQ_URL=
NEXT_PUBLIC_API_PROD_URL=
NEXT_PUBLIC_API_URL=http://localhost:3001