NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=

APP_NAME=""
API_V1_PREFIX=
LOG_LEVEL=
LLM_TEMPERATURE=
GRAPH_TOP_K=
CYPHER_RESULT_LIMIT=
MODAL_TIMEOUT_SECONDS=

USE_MODAL_NL2CYPHER=
MODAL_APP_NAME=
MODAL_MODEL_CLASS_NAME=


QUERY_RAG_MODAL_ID=
QUERY_RAG_MODAL_TOKEN=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# MODAL_TOKEN_ID=${QUERY_RAG_MODAL_ID}
# MODAL_TOKEN_SECRET=${QUERY_RAG_MODAL_TOKEN}

# MODAL_TOKEN_ID=$QUERY_RAG_MODAL_ID MODAL_TOKEN_SECRET=$QUERY_RAG_MODAL_TOKEN modal deploy modal_nl2cypher.py 