RABBITMQ_HEARTBEAT=
RABBITMQ_BLOCKED_CONNECTION_TIMEOUT=

SCENE_ANALYSIS_QUEUE=
SCENE_ANALYSIS_RESULTS_QUEUE=

MODEL_NAME=
MODEL_DEVICE=cuda
MODEL_MAX_LENGTH=
SPACY_MODEL=
FILTERED_ENTITY_TYPES=TIME,DATE,CARDINAL,MONEY,PERCENT

LOG_LEVEL=INFO

NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=

QUEUE_POLL_INTERVAL_SECONDS=
MAX_JOBS_PER_POLL=

CLOUDAMQP_URL =
RABBITMQ_URL=

KG_MODAL_ID=
KG_MODAL_TOKEN=


# MODAL_TOKEN_ID=$KG_MODAL_ID MODAL_TOKEN_SECRET=$KG_MODAL_TOKEN modal deploy queue_poller.py 